
body{
	font-family:Rockwell;
}

#Avatar{
	margin-top:25px;
	align-self:center;
}

header{ 
background: rgba(131,227,86,1);
background: -moz-linear-gradient(left, rgba(131,227,86,1) 0%, rgba(136,212,96,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(131,227,86,1)), color-stop(100%, rgba(136,212,96,1)));
background: -webkit-linear-gradient(left, rgba(131,227,86,1) 0%, rgba(136,212,96,1) 100%);
background: -o-linear-gradient(left, rgba(131,227,86,1) 0%, rgba(136,212,96,1) 100%);
background: -ms-linear-gradient(left, rgba(131,227,86,1) 0%, rgba(136,212,96,1) 100%);
background: linear-gradient(to right, rgba(131,227,86,1) 0%, rgba(136,212,96,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83e356', endColorstr='#88d460', GradientType=1 );
text-align: center;
padding: 40px;

 } 
    
#pricing{
background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(235,235,235,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(235,235,235,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(235,235,235,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(235,235,235,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(235,235,235,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(235,235,235,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=1 );
}

#Datos{
background-color:#5fc732;
}

#Adoptar{
background-color:#5fc732;
}

#Denunciar{
    background-color:#5fc732; 
}

#divinsert{
	max-width: 300px;
}


#divconsulta{
	max-width: 300px;
}


#divactuali{
	max-width: 300px;
}


#diveli{
	max-width: 300px;
}


#divciudadano{
	margin-top: 80px;
	max-width: 350px;
	border:4px solid #5fc732;
}

#divadoptar{
	margin-top: 80px;
	max-width: 350px;
	border:4px solid #5fc732;
}


.container{
	max-width: 100%;
	min-width: 40%;
}

footer{
	margin:0px;
	text-align:center;
	clear:both;
	background-color: white;
	position: relative;
	margin-top: 100%;
}

@media screen and (max-width:640px) {
    /* reglas CSS */
}
@media screen and (max-width:1024px) and (min-width:640px) {
    /* reglas CSS */
}
@media screen and (min-width:1024px) {
    /* reglas CSS */
}