#imgcir{
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}
.img-responsive{
	margin:10px;
}

*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

header{
	margin-top: 60px;
	width:100%;
	height: 190px;
	overflow:hidden;    
    background: #278230;
    background: -moz-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #278230), color-stop(100%, #83e864));
    background: -webkit-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -o-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -ms-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: linear-gradient(45deg, #278230 0%, #83e864 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278230', endColorstr='#83e864', GradientType=1 );




}
.logotipo{
	width:90%;
	max-width:1200px;
	margin: auto;
}
.logotipo h1{
	font-family:'Rockwell';
	font-weight: 400;
	color:white;
	padding:15px 0;
	font-size:60px;
}

#navegacion1{
    padding: 12px;
}

.navegacion{
	width: 100%;
	background:green;
	text-decoration: none;


}
.navegacion nav{
	width: 90%;
	max-width: 1200px;
	margin: auto;
	text-decoration: none;
        
}
.menu{
	list-style: none;
	width: 100%;

}
.menu li{
	display: inline-block;


}
.menu li a{
display: block;
padding: 15px;
color: white;
text-decoration: none;
font-family:'Rockwell';
}

header .login{
	color:white;
	font-size:70px;
	line-height: 200px;
	float:left; 
	margin-left: 0px;

}
header nav{
	float: right; 
}
header nav a{
	display:inline-block;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	line-height: normal;
	font-size: 20px;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all  500ms ease;
}
header nav li{
	display: inline-block;
	padding: 10px 20px;
	right: 2%;
}


header nav s{
	display:inline-block;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	line-height: normal;
	font-size:30px;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all  500ms ease;
}

header nav a:hover{
	background: #FFC300;
	border-radius: 50px;
}

header nav s:hover{
	background:#F3AA45;
	border-radius:50px;
}

.slider{
width: 100%;
height: 550px;
margin: auto;
overflow: hidden;
}

.slider ul{
	list-style: none;
	display:flex;
	padding:0;
	width:400%;
	animation: cambio 20s infinite alternate;
}

.slider s{
    width: 100%;
	list-style: none;
    height: 50%;
}

.slider img{

	width:100%;
	height: 550px;
}

.boton-menu{
	display: none;
}

.boton-menu  span{
color:white;
font-size: 25px;
cursor: pointer; 
text-decoration: none;
}

header label{
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #fff;
}

header label:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}

a{
	text-decoration: none;
}

h1{
    font-family:'Rockwell';
}

.col-sm-4 col-xs-12{
    width: 100%;
    position: relative;
    height: 100%;
}

.col-sm-4 col-xs-12 img{
    height:100%;
    width: 100%;
}

#cajaimagen{
    
    background: #278230;
    background: -moz-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #278230), color-stop(100%, #83e864));
    background: -webkit-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -o-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -ms-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: linear-gradient(45deg, #278230 0%, #83e864 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278230', endColorstr='#83e864', GradientType=1 );

	position: relative;
}
#cajaimagen2{
    
    background: #368716;
    background: -moz-linear-gradient(left, #368716 0%, #6bb521 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #368716), color-stop(100%, #6bb521));
    background: -webkit-linear-gradient(left, #368716 0%, #6bb521 100%);
    background: -o-linear-gradient(left, #368716 0%, #6bb521 100%);
    background: -ms-linear-gradient(left, #368716 0%, #6bb521 100%);
    background: linear-gradient(to right, #368716 0%, #6bb521 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#368716', endColorstr='#6bb521', GradientType=1 );
    
	position: relative;
}
#cajaimagen3{
    
    background: #368716;
    background: -moz-linear-gradient(left, #368716 0%, #6bb521 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #368716), color-stop(100%, #6bb521));
    background: -webkit-linear-gradient(left, #368716 0%, #6bb521 100%);
    background: -o-linear-gradient(left, #368716 0%, #6bb521 100%);
    background: -ms-linear-gradient(left, #368716 0%, #6bb521 100%);
    background: linear-gradient(to right, #368716 0%, #6bb521 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#368716', endColorstr='#6bb521', GradientType=1 );
    
	position: relative;
}

#panel{
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 1px solid #a0d96a;
    background: #278230;
    background: -moz-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #278230), color-stop(100%, #83e864));
    background: -webkit-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -o-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -ms-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: linear-gradient(45deg, #278230 0%, #83e864 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278230', endColorstr='#83e864', GradientType=1 );
}

#Adopcion{
	margin-left: 45px;
}

#caja2{
    background-color: white; 
    width: auto;
    height:300px;
    padding: 15px;
    position: relative;
}

#imagenadopcion{
	width: 420px;
}

#Veterinaria{
	margin-left: 40px;
}

#caja4{
    background-color: white; 
    width: auto;
    height:300px;
    padding: 15px;
    position: relative;
}

#imagenveterinaria{
	width: 420px;
}

#Eventos{
	margin-left: 40px;
}

#caja6{
    background-color: white; 
    width: auto;
    height:300px;
    padding: 15px;
    position: relative;
}

#imageneventos{
	width: 420px;
}

#info{
	cursor: pointer;
	margin-top:20px;
	margin-right:15px;
	float: right;
}

#info2{
	cursor: pointer;
	margin-right:15px;
	margin-top:20px;
	float: right;
}

#info3{
	cursor: pointer;
	margin-right:15px;
	margin-top:20px;
	float: right;
}

a{	
	cursor: pointer;
	align-self: right;
}

p{
        text-align:left;
}

#caja2{
    background-color: white; 
    width:auto;
    height:300px;
    padding: 15px;
    position: relative;
    font-size: 16px;
    border: 5px;   
}

#caja4{
    background-color: white; 
    width:auto;
    height:300px;
    padding: 15px;
    position: relative;
    font-size: 16px;
}

#caja6{
    background-color: white; 
    width:auto;
    height:300px;
    padding: 15px;
    position: relative;
    font-size: 16px;
} 

#contenedor1{
	position: absolute;
}

.panel-heading{
    
    background: #278230;
    background: -moz-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #278230), color-stop(100%, #83e864));
    background: -webkit-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -o-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -ms-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: linear-gradient(45deg, #278230 0%, #83e864 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278230', endColorstr='#83e864', GradientType=1 );

}

#panel{
 
    background: #278230;
    background: -moz-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #278230), color-stop(100%, #83e864));
    background: -webkit-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -o-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -ms-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: linear-gradient(45deg, #278230 0%, #83e864 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278230', endColorstr='#83e864', GradientType=1 );
    color: white;
}

.panel-body{
    
    padding:0px;
    background-color:#DFF4BA;
}

#modulos{
	padding: 10px;
}

.img-responsive slideanim{
    max-width:100%;
    max-height:100%;
}


#myFooter{
    
}

.footer-social{
    
    background: #278230;
    background: -moz-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #278230), color-stop(100%, #83e864));
    background: -webkit-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -o-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: -ms-linear-gradient(45deg, #278230 0%, #83e864 100%);
    background: linear-gradient(45deg, #278230 0%, #83e864 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278230', endColorstr='#83e864', GradientType=1 );
    
}


@keyframes cambio{
	0%{margin-left:0;}
	20%{margin-left:0;}

	25%{margin-left:-100%;}
	45%{margin-left:-100%;}

	50%{margin-left:-200%;}
	70%{margin-left:-200%;}

	75%{margin-left:-300%;}
	100%{margin-left:-300%;}
}

@media screen and (max-width: 600px){

.boton-menu{
	width: 90%;
	margin:auto;
	display: block;
	padding: 8px 0;
	text-decoration: none;

}
    
.navegacion nav{
	position: absolute;
	width:100%;
	height: 100%;
	background:green;
	left: -100%;
	text-decoration: none;
	text-align: center;
}

.menu li{
display: block;	
text-decoration: none;
}

.slider s{
	height:100%;
}

.logotipo h1{
	font-family:'Rockwell';
	font-weight: 400;
	color:white;
	padding:15px 0;
	font-size:40px;
	text-align: center;
}

.col-sm-4 col-xs-12{
    width: 100%;
    position: relative;
    
}

.slider{
width: 100%;
height: 220px;
margin: auto;
overflow: hidden;
}

.slider img{

	width:100%;
	height: 220px;
}

p{
  text-align:left;
}
}

@media screen and (max-width: 768px){

.slider{
width: 100%;
height: 250px;
margin: auto;
overflow: hidden;
}

.slider img{

	width:100%;
	height: 250px;
}

}

@media screen and (max-width: 700px){

.slider{
width: 100%;
height: 200px;
margin: auto;
overflow: hidden;
}

.slider img{

	width:100%;
	height: 200px;
}

#caja2{
    background-color: white; 
    width: auto;
    height:270px;
    padding: 15px;
    position: relative;
    font-size: 14px;
}

#imagenadopcion{
	width: 320px;
}

#caja3{
	margin-top: 50px;
}

#caja4{
    background-color: white; 
    width: auto;
    height:270px;
    padding: 15px;
    position: relative;
    font-size: 14px;
    
}

#imagenveterinaria{
	width: 320px;
}

#caja5{
	margin-top: 50px;
}

#caja6{
    background-color: white; 
    width: auto;
    height:320px;
    padding: 15px;
    position: relative;
    font-size: 14px;
}

#imageneventos{
	width: 320px;
}

}

