h1{
    text-align: center;
}

@media screen and (max-width:980px) {
		.container {
			width:98%
		}
}

#Ingreso{
	margin-top: 50px; 
	padding:0px;
	margin: 50px auto;
        height:250px;
        width:900px;

	border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	border: 3px solid #3c9e0b;
	float:none;
	background-image: url("Imagenes/loginuser.png");
}
#Logo{
	margin-top: 40px;

	
}
#BtnRegistro{
	
	border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	border: 3px solid #3c9e0b;
	width: 140px;
	height: 30px;
	padding: 5px;
	margin-top: 80px;
	text-align: center;
    background: transparent;
	border: solid 3px white;
	color: white;
}
#BtnRegistro:hover{

	width: 140px;
	height: 30px;
	padding: 5px;
	margin-top: 80px;
    border:solid 3px green;
    background: limegreen;
    color: black;
    text-decoration: none;

}   
#Registrar{
	
	border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	border-color: transparent;
 	height: 650px;
 	width: 400px;
 	margin-top: 50px;

}

#header{
	background-color: #d0d0ff;
        font-size:12pt;  
        font-weight: bold; 
}
#contentedor{
    margin: auto;
    width: 700px; 
}
#regist{
	height: 400px;
	width: 250px;
	background-color: #FFF;  
    width: 120px; 

}
footer{
	margin:10px;
	text-align:center;
	clear:both;
	background-color: white;
	position: relative;


}
h1{
	color: black;
	font-size:100px;
        font-family:Rockwell;
}

@media screen and (max-width: 900px){
	#Ingreso {
		width: 90%;
	}
}