.caja1{
    text-align: center;
}

.caja2{
    text-align: center;
}

.display-4{
    text-align: center;
}

#vol{
float: left;
margin-left: -78px;
margin-top: 5px;
}
#sal{
float: right;
margin-right:5px;
margin-top: 5px;
}

#nuevo{
	float: left;
	margin-top: 50px;	
	margin-left: 5px;
        margin-bottom:50px;  
}


@media screen and (max-width:1200px){
	
    #vol{
	float: left;
        margin-left: -78px;
        margin-top: 5px;
    }
}

@media screen and (max-width:350px){
    #sal{
    position: absolute;
    right: 25px;
    }
}