#Formulario{
    padding: 50px;
    background: transparent;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid yellow;
    max-width: 30%;
    margin-top: 40px;
}
#inp{
    
	color:transparent;
	width: 150px;
	height: 30px;

}
#foced{
    
	color:transparent;
	width: 150px;
	height: 30px;

}
p{
    color:white;
}
@media screen and (max-width: 1200px){
    #Formulario{
    background: white;
    margin-top: 80px;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid yellow;
    max-width: 80%;
}   
p{
    color:black;
}
}